.container {
    display: inline-block;
    width:35%;
    height:70vh;
    box-sizing:border-box;
    border: thin solid black;
    text-align:center;
    overflow-y: scroll;
}


.container ul {
    list-style-type: none;
    font-size:1.2em;
}

.container li {
    cursor:pointer;
    padding: 0.5rem 0;
}